body{
    margin: 0px;
    padding: 0px;
    background: #e43a15;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e65245, #e43a15);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e65245, #e43a15); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@-webkit-keyframes glow {
    to {
        text-shadow: 0 0 10px white;
    }
}


h1{
    background-color: #222;
    margin-top: 0px!important;
    padding: 20px;
    color:white!important;
    -webkit-animation: glow .8s infinite alternate;
    overflow-x: hidden; 
    overflow-y: hidden; 
    opacity: 1;
}

#form{
    margin-top:15px;

}


.userInput{
    border: 2px solid black;
    padding-bottom: 2px;  /* Fixes dimention - input/button same size*/
    text-decoration: none!important;
    margin: 1%;
    width: 22%;
}

button {
    border: 2px solid black;
    text-decoration: none;
    margin-top: 10px!important;
    margin: 1%;
    width: 94.55%;
}

button:hover{
    background-color:#222;
    color:white; 
    text-decoration: none;
}


.row{
    /* border: 2px solid black; */
    margin:15px!important;
    color:white;
    font-size: 17px;
}

.content{
    width: 16%!important;
    background-color: #222;
    border: 2px solid grey;
    padding:10px 5px!important;

    color:white;
}

/* creates space bewteen columns */
.space {
    margin-left: 2.5%!important;
}


/* Media queries */

@media only screen and (max-width: 800px) {
    .row{
        font-size: 12px;
        padding: 10px 0px!important;
    }
    .content {
        padding: 10px 5px!important;
    }
   
}

@media only screen and (max-width: 600px) {
    .row{
        font-size: 10px;
        padding: 10px 0px!important;
    }
    .content {
        padding: 10px 5px!important;
    }
    .userInput{
        width: 45.5%;
        font-size: 10px;
        margin: 2%
    }
}